

	module.exports = {
		db: {
			eventbooster: {
				  type: 'mysql'
				, hosts: [
					{
						  host 		: '10.0.100.1'
						, username 	: ''
						, password 	: ''
						, mode 		: 'readwrite'
					}
				]
			}
		}
	};